<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
                <a href="index.html"><h2 class="logo">briMs</h2></a>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="services.html">SERVICE</a></li>
                    <li ><a style="color: #28e9d6; border-bottom: 2px solid blue;" href="about.html" >ABOUT</a></li>
                    
                    
                </ul>
            </div>

            
        </div> 
        <div class="content">
            <div class="section">
                <div class="container">
                    <div class="content-section">
                        <div class="title"><h1>about us</h1></div>
                        <div class="contentt">
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae,<br>
                                 aliquid suscipit. Optio commodi quia ea quis necessitatibus, atque <br>
                                  esse repellat pariatur mollitia, velit iste amet obcaecati explicabo <br>
                                   nisi quidem, dolorum tempore? Dolores molestias assumenda totam <br>
                                   deleniti officia delectus quasi vitae ipsum modi ut, dicta itaque,<br>
                                    consectetur neque quod facilis non.</p>
                        </div>
                        <div class="media">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="image">
                        <img src="Capture.PNG" alt="">
                    </div>
                </div>
            </div>
                    </div>
                </div>
        </div>
    </div>
  
</body>
</html>